
.content {
    margin: auto;
    max-width: 500px;
}

body {
    background-color: #E84855;
    background-image: url(../img/); <!-- Pizza TIME >
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 109.5%;
    padding: 3px;
    background-color: #44CCFF;
    text-align: center;
}


table {
    width: 200px;
    background-color: #ffffff;
}

table img {
    width: 100px;
    height: 100px;
}

th {
    text-align: left;
    background-color: #44CCFF;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

caption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

h5 {
    font-size: large;
}

.border {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.map img {
    width: 553px;
}


 


